<style>
    :root {
        --main-bg-color: #009d63;
        --main-text-color: #009d63;
        --second-text-color: #bbbec5;
        --second-bg-color: #c1efde;
    }

    .primary-text {
        color: var(--main-text-color);
    }

    .second-text {
        color: var(--second-text-color);
    }

    .primary-bg {
        background-color: var(--main-bg-color);
    }

    .secondary-bg {
        background-color: var(--second-bg-color);
    }

    .rounded-full {
        border-radius: 100%;
    }

    #wrapper {
        overflow-x: hidden;
        background-image: linear-gradient(to right,
                #baf3d7,
                #c2f5de,
                #cbf7e4,
                #d4f8ea,
                #ddfaef);
    }

    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin 0.25s ease-out;
        -moz-transition: margin 0.25s ease-out;
        -o-transition: margin 0.25s ease-out;
        transition: margin 0.25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    #page-content-wrapper {
        min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    #menu-toggle {
        cursor: pointer;
    }

    .list-group-item {
        border: none;
        padding: 20px 30px;
    }

    .list-group-item.active {
        background-color: transparent;
        color: var(--main-text-color);
        font-weight: bold;
        border: none;
    }

    @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }

    }
</style>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                    class="fa fa-inbox"> &nbsp </i>Watch HuB</div> <i class=""></i>
            <div class="list-group list-group-flush my-3">
                <a href="/admin/dashboard"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="/admin/manageusers"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>Manage Users</a>

                <a href="/admin/categorymanage"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>Category</a>
                <a href="/admin/addproduct"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>Add Products</a>
                <a href="/admin/viewproducts"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>View Products</a>
                <a href="/admin/viewproducts"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>View Orders</a>
                <a href="/admin/addbanner"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>Add Banner</a>
                <a href="/admin/coupon"
                    class="fs-5 list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-cog me-2"></i>Coupon</a>
                <a href="/admin/logout"
                    class="fs-5 list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>{{name}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="m-5">
                <!-- Button trigger modal -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary ms-4 mb-2" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Add Coupon
                </button>
                {{#if existcoupen}}
                    <div class="text-danger">{{existcoupen}}</div>
                {{/if}}
                 




                <!-- Modal -->
                <form action="/admin/coupon" method="post" enctype="multipart/form-data"
                    onsubmit="return couponvalidate()">
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Enter Your Coupon</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="container">
                                        <label for="text">Coupon ID</label>





                                        <input type="text" name="couponID" id="couponid" class="form-control"
                                            onkeyup="return CouponName()">

                                        <div class="text-danger" id="Coupon_Error"></div>



                                        <label for="text">Coupon Amount</label>
                                        <input type="number" name="couponAmount" id="CouponAmount" class="form-control"
                                            onkeyup="return copenPrice()">
                                        <div class="text-danger" id="CouponCashError"></div>



                                        <label for="text">Limit In Days (eg:-'5' Days)</label>

                                        <input type="number" name="ExpairyDate" id="Coupenexpdate" class="form-control"
                                            onkeyup="return Cuopenexpirydate()" required>
                                        <div class="text-danger" id="EXPERR"></div>


                                        <div class="text-danger" id="coupon_dateError"></div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Button trigger modal -->






                <div class="col">
                    <table class="table bg-white rounded shadow-sm  table-hover">

                        <thead>
                            <tr>
                                <th scope="col" width="50">#</th>
                                <th scope="col">Coupon ID</th>
                                <th scope="col">Coupon Amount</th>
                                <th scope="col">Coupon Created Date</th>
                                <th scope="col">Coupon Expairy Date</th>
                                 <th scope="col">DELETE</th>


                            </tr>
                        </thead>
                        <tbody>

                            {{#each response}}
                            <tr>



                                <th scope="row">{{inc @index}}</th>
                                <td class="shadow">{{this.couponID}}</td>
                                <td class="shadow">₹{{this.couponAmount}}.00</td>
                                <td class="shadow">{{this.CreatedDate}}</td>
                                <td class="shadow">{{this.ExpairyDate}}</td>
                                <td class=""><i class="bi bi-trash btn" onclick="deleteCoupen('{{this._id}}')"></i></td>



                                {{!-- <br> <a href="/admin/edit_product"
                                    class="btn btn-primary btn-small ps-4 mt-2 pe-4">
                                    <center>Edit</center>
                                </a> </td> --}}
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- /#page-content-wrapper -->
    </div>
    


    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };


function deleteCoupen(id){
		Swal.fire({
			title: 'Do you want to Delete ?',
			showCancelButton: true,
			confirmButtonText: 'Delete',

		}).then((result) => {
			/* Read more about isConfirmed, isDenied below */
			if (result.isConfirmed) {

				$.ajax({
					url: `/admin/coupen/${id}`,
					method: 'get',
					success: (response) => {
						Swal.fire('Deleted !', '', 'success')
						location.reload();
					}
				})

			} else {
				Swal.fire('Canceled', '', 'info')
			}
		})



}





{{!-- var d = new Date();

  console.log('Today is: ' + d.toLocaleString())
  
  d.setDate(d.getDate() - 30);

  console.log('<br>5 days ago was: ' + d.toLocaleString())
   --}}


        //------------------------------------------------------------------------------------------------------------------------------------------------------------


        function CouponName() {


            let Coupon_err = document.getElementById('Coupon_Error')
            let coupon = document.getElementById('couponid').value;

            console.log(Coupon_err, coupon)


            if (coupon.length == 0 || coupon == '') {
                Coupon_err.innerHTML = "Coupon ID cannot be empty";
                return false;
            }


            if (coupon.length <= 3 || coupon.length >= 9) {
                Coupon_err.innerHTML = "ID must be between 3 and 8 characters";
                return false;
            }



            Coupon_err.innerHTML = ""
            return true;


        }


        function copenPrice() {
            let amount = document.getElementById('CouponAmount').value
            let Casherror = document.getElementById('CouponCashError')
            if (amount.length <= 0 || amount.length == '' || amount == 0) {
                Casherror.innerHTML = 'Enter proper Price'
                return false;
            }
            if (amount >= 1000) {
                Casherror.innerHTML = 'Enter less than 1000'
                return false;
            }
            Casherror.innerHTML = ''
            return true;
        }


        function Cuopenexpirydate() {
            let expire = document.getElementById('Coupenexpdate').value
             let couponerr = document.getElementById('EXPERR')
             
            if (expire.length <= 0 || expire.length == '' || expire == 0 ) {
                
                couponerr.innerHTML = "Enter Proper Day"
                    return false
                    
            } else{
                 couponerr.innerHTML = " "
                    return true
            }
                
                
               
        


                 


            

        }


        function couponvalidate() {
            if (!Cuopenexpirydate() || !copenPrice() || !CouponName()) {
                document.getElementById('coupon_dateError').innerHTML = 'Fill All data'
                return false;
            }
            return true;
        }

    </script>