<section>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <!-- Custom styles for this template -->



    <div class="container">
        <main class="mt-5 mb-5">
            <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Your cart</span>
                        <span class="badge bg-primary rounded-pill">₹</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {{#each products}}


                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">{{this.product.proName}}</h6>
                                <small class="text-muted">{{this.product.proCategory}}</small>
                            </div>

                            <span class="text-muted">{{this.quantity}}* {{this.product.proPrice}}</span>

                            {{/each}}

                        </li>


                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-success">00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (Rupee)</span>
                            <strong>₹{{total}}</strong>
                        </li>
                    </ul>

                    {{!-- offer form --}}
                    {{!-- <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </form> --}}
                    {{!-- offer form --}}
                    <div class="mt-4">
                        <h2 class="shadow-lg">Saved Address</h2>
                        {{#each savedAddress.address}}
                        <input type="radio"
                            value="`{{this.Fname}}``{{this.Lname}}`,`{{this.address}}`,`{{this.post}}`,` {{this.pin}}`,`{{this.state}}`, `{{this.phone}}`"
                            name="Saved_address" id="{{@index}}"
                            onclick="selectAddress('{{this.Fname}}','{{this.Lname}}','{{this.address}}','{{this.post}}','{{this.pin}}','{{this.state}}','{{this.phone}}')">
                        <label for="{{@index}}">{{this.Fname}} {{this.Lname}} {{this.address}},{{this.post}},
                            {{this.pin}},
                            {{this.state}},{{this.phone}}</label>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Billing address</h4>

                    <form class="needs-validation border p-4" id="checkout-form" novalidate>
                        <div class="row g-3">


                            <div class="col-sm-6">
                                <label for="FName" class="form-label">First name</label>
                                <input type="text" class="form-control" name="FirstName" id="FName" placeholder=""
                                    value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <label for="LName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="LName" name="LastName" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="Address" name="Address" value="" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>
                            <input type="text" value="{{user}}" name="userID" hidden>

                            <div class="col-12">
                                <label for="address2" class="form-label"> Mobile Number <span
                                        class="text-muted"></span></label>
                                <input type="tel" value="" class="form-control" name="Phone" id="number" maxlength="10"
                                    required>
                            </div>

                            <div class="col-md-5">
                                <label for="Post" class="form-label">Post</label>
                                <input type="text" value="" class="form-control" name="Post" id="Post" placeholder=""
                                    required>
                                <div class="invalid-feedback">
                                    Post required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">Zip Code</label>
                                <input type="number" value="" max="6" name="ZipCode" class="form-control" id="zip"
                                    placeholder="" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="State" class="form-label">State</label>
                                <input type="text" value="" class="form-control" name="State" id="State" placeholder=""
                                    required>
                                <div class="invalid-feedback">
                                    State required.
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="same-address">
                            <label class="form-check-label" for="same-address">Shipping address is the same as my
                                billing address</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="save-info">
                            <label class="form-check-label" for="save-info">Save this information for next
                                time</label>
                        </div> --}}

                        <hr class="my-4">

                        <h4 class="mb-3">Payment</h4>

                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" onclick="displayCOD()" type="radio" value="COD"
                                    class="form-check-input" required>
                                <label class="form-check-label" for="credit">Cash on Delivery</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="paymentMethod" onclick="displayrazorpay()" type="radio"
                                    value="razorpay" class="form-check-input" required>
                                <label class="form-check-label" for="debit">razorpay</label>
                            </div>


                            <div class="form-check">
                                <input id="paypal" name="paymentMethod" onclick="displayPaypal()" type="radio"
                                    value="PayPal" class="form-check-input" required>
                                <label class="form-check-label" for="paypal">PayPal</label>
                            </div>


                        </div>
<script src="/javascripts/paypal.js"></script>
                        <hr class="my-4">
                        <!-- Replace "test" with your own sandbox Business account app client ID -->
                        <script src="https://www.paypal.com/sdk/js?client-id=ASVAT4RqsGB4WwcfuVT2NpKbt0seSFXUW3ic6R5K0oevO6WKB0XoYeWBiwXA75DRi0HvBH_XBQd94qZb&currency=USD" data-namespace="paypal_sdk"></script>
                      
                        <!-- Set up a container element for the button -->
                        <div id="paypal-button-container" hidden  class="clr"></div>
<div id="checkout-button" class="clr">
 <button class="w-100 btn btn-primary btn-lg" id="checkoutSubmit" type="submit" hidden>Continue
                            to checkout</button></div>
                    </form>
                </div>
            </div>
        </main>

        <script>
            $('#checkout-form').submit((e) => {
                e.preventDefault()

                $.ajax({
                    url: '/users/place-order',
                    method: 'post',
                    data: $('#checkout-form').serialize(),
                    success: (response) => {
                        if (response.COD_Success) {
                            location.href = "/users/ordersuccess"
                        } else if (response.Razorpay) {
                            razorpayPayment(response)

                        }

                    }

                })
            })

            function displayCOD() {
                document.getElementById('checkoutSubmit').hidden = false
                let list2 = document.getElementById("paypal-button-container").hidden=true
            }
            function displayrazorpay() {
                document.getElementById('checkoutSubmit').hidden = false
                let list2 = document.getElementById("paypal-button-container").hidden=true
            }



            function razorpayPayment(order) {

                var options = {
                    "key": "rzp_test_3FXgnN9RmxDnjy", // Enter the Key ID generated from the Dashboard
                    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Anshad M K",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        //  alert(response.razorpay_payment_id);
                        //alert(response.razorpay_order_id);
                        // alert(response.razorpay_signature)
                        verifyPayment(response, order)
                    },
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9999999999"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }

            function verifyPayment(paymentdata, order) {
                $.ajax({
                    url: '/users/verify-payment',
                    data: {
                        paymentdata,
                        order
                    },
                    method: 'post',
                    success: (response) => {
                        if (response.status) {
                            location.href = '/users/ordersuccess'
                        } else {
                            alert('Payment Failed')
                        }
                    }
                })
            }

            function selectAddress(Fname, Lname, HouseName, post, pin, state, phone) {

                document.getElementById('FName').value = Fname
                document.getElementById('LName').value = Lname
                document.getElementById('Address').value = HouseName
                document.getElementById('number').value = phone
                document.getElementById('Post').value = post
                document.getElementById('zip').value = pin
                document.getElementById('State').value = state
            }

            //paypal



            function displayPaypal() {
   let list1 = document.getElementById("checkoutSubmit").hidden=true
            let list2 = document.getElementById("paypal-button-container").hidden=false
        

            }
  paypal_sdk.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value:{{total}} // Can also reference a variable or function
              }
            }]
          });
        },


        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            $(document).ready(function(){
            $( "#placeorder" ).trigger( "click" );
            })
          });
        }
      }).render('#paypal-button-container');




        </script>