<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
<style>
  .hov :hover {
    transition: 0.2s ease-in;
    transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
  }
</style>

{{! Carousel }}
<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="w-100 pt-1 mb-5 text-right">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="" method="get" class="modal-content modal-body border-0 p-0">
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
        <button type="submit" class="input-group-text bg-success text-light">
          <i class="fa fa-fw fa-search text-white"></i>
          
        </button>
       
      </div>
    </form>
   
  </div>
</div>



<!-- Start Banner Hero -->

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          {{#each Banner}}
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="{{@index}}" class="active"></li>
           {{/each}} 
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/productIMG/{{Banner.1._id}}.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success">{{Banner.1.MainTittle}}</h1>
                                <h3 class="h2">{{Banner.1.SubTittle}}</h3>
                                <p>
                                  {{Banner.1.TittleDiscription}} 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           {{#each Banner}}
            <div class="carousel-item">
               
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/productIMG/{{this._id}}.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">{{this.MainTittle}}</h1>
                                <h3 class="h2">{{this.MainTittle}}</h3>
                                <p>
                                    {{this.TittleDiscription}} 
                                    </p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
           {{/each}}
            
        {{!-- <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" id="prev" role="button"  data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"  role="button"  data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a> --}}
    </div>
  <!-- End Banner Hero -->
  {{!-- ---------------------------------------------------------------------------------------------------------------
  --}}
  {{!-- ---------------------------------------------------------------------------------------------------------------
  --}}
  {{!-- ---------------------------------------------------------------------------------------------------------------
  --}}
  {{!-- ---------------------------------------------------------------------------------------------------------------
  --}}

  <!-- Start Categories  -->
  <section class="container py-5">
    <div class="row text-center pt-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Categories</h1>
        <p>
          find your style in our categories !!
          Choose your Perfect <span class="bi bi-watch"> </span>Partner
        </p>
      </div>
    </div>

    {{!-- ====================================================================================================== --}}
    {{!-- ====================================================================================================== --}}
    {{!-- ====================================================================================================== --}}
    {{!-- ====================================================================================================== --}}
    {{!-- ====================================Category Itemes start hear======================================== --}}
    {{!-- ====================================================================================================== --}}
    {{!-- ====================================================================================================== --}}
    {{!-- ====================================================================================================== --}}
    {{!-- ====================================================================================================== --}}

    <div class="row ">

      {{#each cat}}
      <div class="col-12 col-md-4 mb-2 col-lg-4 col-xl-3 ">
        <div class="card h-10  rounded-circle border-1 hov">
          
          <a href="/listAllProducts/{{this.category}}">
          <span class="bg-danger position-absolute top-0 right-0 translate-middle badge rounded-pill "
              >{{this.offer}}% offer</span>
            <img src="/productIMG/{{this._id}}.jpg" class="card-img-top rounded-circle pb-0" style="height: 15em;">
            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
               {{!-- overlay if you have --}}
              </div>
          </a>
          
        </div>
        
        <h5 class="text-center mt-3 mb-3">{{this.category}}</h5>
        <p class="text-center"><a class="btn btn-success" href="/listAllProducts/{{this.category}}">Go Shop</a></p>
      </div>

      {{/each}}
    </div>

  </section>
  <!-- End Categories of The Month -->


  <!-- Start Featured Product -->
  <section class="bg-light">
    <div class="container py-5">
      <div class="row text-center py-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h1">New Product</h1>
          <p>
            {{!-- Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident. --}}
          </p>
        </div>
      </div>




      <div class="row mt-3 ">
        {{#each products}}

        <div class="col-md-3 mb-3">
          <div class="card product-wap rounded-0 h-100 ">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="/productIMG/{{this._id}}.jpg" style="height: 15em;">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><button class="btn btn-success text-white" onclick="addToWishList('{{this._id}}',{{Uname}})"><i
                        class="far fa-heart"></i></button></li>
                  <li><a class="btn btn-success text-white mt-2" href="/preview-product/{{this._id}}"><i
                        class="far fa-eye"></i></a></li>
                  <li><button class="btn btn-success text-white mt-2" onclick="addToCart('{{this._id}}',{{Uname}})"><i
                        class="fas fa-cart-plus"></i></button></li>
                </ul>
              </div>
            </div>
            <div class="card-body" >
              <a href="/preview-product/{{this._id}}" class="h3 text-decoration-none">
                <h4>{{this.proName}}</h4>
              </a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li>
                  <h6>Quantity: {{this.Quantity}}</h6>
                </li>
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="mb-0">
                <h5 class="text-center text-success"> ₹{{this.offerPrice}}.00 </h5>
              <h5 class="text-center text-danger"> <strike>₹{{this.proPrice}}.00</strike> </h5>
              </p>
            </div>
          </div>
        </div>



        {{/each}}
      </div>

  </section>
  <!-- End Featured Product -->
  <script>
    
  </script>